<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <style>
        *{
            color: #fff;
        }
    </style>

    <!-- 通用 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css" >
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/ajaxfileupload.js"></script>

    <!-- layer -->
    <link rel="stylesheet" type="text/css" href="/static/layer/need/layer.css" >
    <script type="text/javascript" src="/layer/layer.js"></script>

    <!-- layui -->
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" >
    <script type="text/javascript" src="/layui/layui.js"></script>



    <!-- datatable 先引入jquery再引入datatable-->
<!--    <link rel="stylesheet" type="text/css" href="/datatable/css/jquery.dataTables.css" >
    <script type="text/javascript" src="/datatable/js/jquery.js"></script>
    <script type="text/javascript" src="/datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/datatable/js/dataTables.zh-CN.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/datatables/css/jquery.dataTables.css" >
    <script type="text/javascript" src="/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/datatables/js/dataTables.zh-CN.js"></script>

    <!--zTree  (必须放在“zTree”目录下，T必须大写)-->
    <link rel="stylesheet" href="/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/zTree/js/jquery.ztree.all.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" >
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

</body>
</html>