<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-div">
        <div class="main-top">
            <div class="top-left">个人系统</div>

            <div class="top-right">
                <div class="headDiv adminManagerDiv" onclick="adminManager()"> <i class="adminManagerIcon"></i>设置</div>
                <div class="headDiv headSapn" onclick="headInfo()"> <i class="headIcon"></i><span class="headSpan" th:text="${userName}"></span></div>
            </div>
        </div>
        <div class="main-bottom">
            <div class="main-left">
                <ul>
                    <li>
                        <div class="left-menu">
                            <sapn class="glyphicon glyphicon-folder-open iconSpan" title="文件夹" aria-hidden="true"></sapn><br/>
                            <span>文件夹</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-right">
                <div class="main-right-menus">
                    <div class="main-menu">
                        <sapn class="glyphicon glyphicon-picture iconSpan" title="图片" aria-hidden="true"></sapn>
                        图片
                    </div>
                    <div class="main-menu">
                        <sapn class="glyphicon glyphicon-bullhorn iconSpan" title="音频" aria-hidden="true"></sapn>
                        音频
                    </div>
                    <div class="main-menu">
                        <sapn class="glyphicon glyphicon-facetime-video iconSpan" title="视频" aria-hidden="true"></sapn>
                        视频
                    </div>
                    <div class="main-menu">
                        <sapn class="glyphicon glyphicon-file iconSpan" title="文件" aria-hidden="true"></sapn>
                        文件
                    </div>
                </div>
                <div class="main-right-info">

                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    function logout() {
        window.location.href="/logout";
    }
    function  adminManager() {
        window.location.href="/admin/adminPage";
    }
    layui.use(['dropdown'], function(){
        var dropdown = layui.dropdown;
        //初演示
        dropdown.render({
            elem: '.headSapn'
            ,align: 'center' //居中对齐（2.6.8 新增）
            ,data: [{
                title: '修改密码'
                ,id: 100
                ,style: 'color:black'
            },{
                title: '退出'
                ,id: 101
                ,style: 'color:black'
            }]
            ,click: function(obj){
                if(obj.title=="修改密码"){
                    $.ajax({
                        type: "POST",
                        url: "/saveUserPage",
                        success: function (obj) {
                            layer.open({
                                type: 1,
                                skin: 'layui-layer-rim', //加上边框
                                area: ['420px', '440px'], //宽高
                                content: obj
                            });
                        }
                    });
                }else if(obj.title=="退出"){
                    logout()
                }
            }
            ,style: 'color:black'
        });
    })
</script>
</html>