<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button type="button" onclick="logout()">退出登录</button>
    <button type="button" onclick="adminManager()">后台管理</button>
    <h1>系统主页</h1>
    <shiro:hasRole name="admin">
        <h2>admin</h2>
    </shiro:hasRole>

    <shiro:hasRole name="user">
        <h2>user</h2>
    </shiro:hasRole>
</body>
<script type="text/javascript">
    function logout() {
        debugger
        window.location.href="/logout";
    }
    function  adminManager() {
        window.location.href="/admin/adminPage";
    }
</script>
</html>