<div class="fileUploadDiv">
    <button type="button" class="btn btn-primary" onclick="fileUpload()">本地文件上传</button>
    <input type="file" id="addfiles" multiple="multiple" th:onchange="'insertFiles()'" />
</div>
<div class="main-right-menus">
    <div class="main-menu">
        <sapn class="glyphicon glyphicon-picture iconSpan" title="图片" aria-hidden="true"></sapn>
        图片
    </div>
    <div class="main-menu">
        <sapn class="glyphicon glyphicon-bullhorn iconSpan" title="音频" aria-hidden="true"></sapn>
        音频
    </div>
    <div class="main-menu">
        <sapn class="glyphicon glyphicon-facetime-video iconSpan" title="视频" aria-hidden="true"></sapn>
        视频
    </div>
    <div class="main-menu">
        <sapn class="glyphicon glyphicon-file iconSpan" title="文件" aria-hidden="true"></sapn>
        文件
    </div>
</div>
<div class="main-right-info">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <!--<div class="item active">
                <img src="images/login/login.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="images/admin/account.png" alt="Second slide">
            </div>
            <div class="item">
                <img src="images/admin/main.jpg" alt="Third slide">
            </div>-->
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        loadMainRight();
    })
    function loadMainRight() {
        $.ajax({
            type: 'POST',
            data: {userName:$("#userName").val(),fileType:1},
            url:"/files/getFilePathList",
            success: function(data) {
                var html='';
                for (var i=0;i<data.length;i++){
                    if(i==0){
                        html+='<div class="item active">';
                    }else{
                        html+='<div class="item">';
                    }
                    html+=' <img class="image" onclick="showOcrImgUpdate(this)" src="/files/img?nt='+ new Date().getTime()+'&p=' +data[i] + '" />';
                    html+='</div>';
                }
                $(".carousel-inner").html(html);
            }
        });
    }
</script>