<div class="menuListDiv">
    <h1>菜单管理</h1>
    <form id="menuForm">
        <div class="col-md-2 menuFormCol">
            <input type="text" class="form-control" name="keyword">
        </div>
        <button type="button" class="btn btn-primary searchBtn" onclick="searchmenu()">查询</button>
        <button type="button" class="btn btn-primary addmenuBtn" onclick="savemenuPage()">新增用户</button>
    </form>
    <table class="table table-striped menuTable" id="dataTables-menuList">
        <thead>
            <tr>
                <th>菜单名称</th>
                <th>路径</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    $('#dataTables-menuList').DataTable({
        ajax: {
            dataType: 'json',
            url: "/menu/datas",
            data: function (aoData) {
                var jsonData = $("#menuForm").serializeArray();
                jsonData.forEach(function (e, index) {
                    aoData[e.name] = e.value;
                });
                return aoData;
            }
        },
        serverSide: true, paging: true,
        searching: false, bLengthChange: false,
        ordering: false,
        lengthMenu: [10],
        "columns": [
            {"data": "menuTitle"},
            {"data": "action"},
            {"data": null, render: function (data) {
                    if(data.status=='1'){
                        return '可用';
                    }else{
                        return '禁用';
                    }
                }
            },
            {
                "data": null, render: function (data) {
                    var btnHtml = "";
                    btnHtml += '<button class="btn btn-primary btn-sm" onclick="savemenuPage(' + data.menuId + ')">编辑</button>';
                    btnHtml += '<button class="btn btn-danger btn-sm delmenuBtn" onclick="delmenu(' + data.menuId + ')">删除</button>';
                    return btnHtml;
                }
            }
        ],
        responsive: true,
        language: dataTablesLanguage
    });

    //删除方法
    function delmenu(id) {
        layer.confirm('你确定要删除么？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "/menu/delmenu",
                data: {menuId:id},
                success: function (obj) {
                    if(obj){
                        layer.msg("删除成功");
                        return;
                    }
                    layer.msg("删除失败");
                }
            });
        }, function () {
        });
    }

    //新增用户
    function savemenuPage(id) {
        $.ajax({
            type: "POST",
            url: "/menu/editMenu",
            data: {menuId:id},
            success: function (data) {
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['420px', '400px'], //宽高
                    content: data
                });
            }
        });
    }
</script>
