/*登录页面*/
.logrinBody .fromDiv{
    width: 420px;
    height: 420px;
    padding: 40px;
    background: rgba(32,163,245, 0.1);
    position: relative;
    left: 57%;
    top: 190px;
    border: 3px solid rgba(32,163,245, 0.5);
}
.logrinBody .loginDiv img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.loginDiv .fromDiv #verificationCode{
    width: 60%;
    display: inline-block;
}
.loginDiv .fromDiv .unchanged{
    width: 38%;
    align-content: center;
    display: inline-block;
}
.loginDiv .fromDiv input{
    height: 46px;
    font-size: 18px;
}
.fromDiv .loginInputDiv{
    margin: 5% 0%;
    width: 97%;
}
.fromDiv #checkCode{
    display: block;
    width: 30%;
    padding: 6px 25px;
    background-color: #D29696;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.fromDiv #verificationCode{
    width: 70%;
    display: block;
    float: left;
}
.fromDiv .loginBtn{
    width: 119%;
    margin-top: 25px;
}